
@model List<string>

<h2>Отсортированный список овощей (таблица)</h2>

<table class="table" style=" width: 20%">
    <tread>
        <tr>
            <th class="text-center">Наименование</th>
        </tr>
    </tread>
    <tbody>
        @foreach (var vegetable in Model)
        {
            <tr>
                <td>@vegetable</td>>
            </tr>
        }
    </tbody>
</table>